# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno
.env

# Directorios de entorno
env/

# Configuración local de editores
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación
dist/
build/

# Archivos de base de datos
database/*.sqlite
database/*.db

# Directorios de producción
public/

# Archivos temporales
*.tmp
*.swp
